<launch>
  <arg name="namespace" default="neuronbot2"/>
  <arg name="model_file" default="$(find neuronbot2_gazebo)/models/neuronbot2/model.sdf"/>
  <arg name="file_type" default="sdf"/>
  <arg name="model_name" default="$(arg namespace)"/>
  <group ns="$(arg namespace)">
    <node name="gazebo_robot" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-file $(arg model_file) -$(arg file_type) -z -1 -model $(arg model_name)" />
    <include file="$(find neuronbot2_gazebo)/launch/robot_state_publisher.launch">
      <arg name="prefix" value="$(arg namespace)"/>
    </include>
  </group>  
</launch>
