<launch>
  <arg name="namespace" default="" />
  <arg name="model" default="neuronbot2" />
  <arg name="local_planner" default="dwa" doc="Local planner can be either dwa or teb"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find neuronbot2_nav)/params/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find neuronbot2_nav)/params/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find neuronbot2_nav)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find neuronbot2_nav)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find neuronbot2_nav)/params/$(arg local_planner)_local_planner_params_$(arg model).yaml" command="load" />
    <rosparam file="$(find neuronbot2_nav)/params/move_base_params.yaml" command="load" />
    <rosparam file="$(find neuronbot2_nav)/params/global_planner_params.yaml" command="load" />

    <param if="$(eval namespace != '')" name="global_costmap/obstacle_layer/laser/topic" value="/$(arg namespace)/scan" />
    <param if="$(eval namespace != '')" name="global_costmap/obstacle_layer/scan_filtered/topic" value="/$(arg namespace)/scan_filtered" />  
    <param if="$(eval namespace != '')" name="global_costmap/sensor/laser/map_topic" value="/$(arg namespace)/map" />
    <param if="$(eval namespace != '')" name="global_costmap/sensor/laser/topic" value="/$(arg namespace)/scan" />
    <param if="$(eval namespace != '')" name="global_costmap/static/map_topic" value="/$(arg namespace)/map" />
    <param if="$(eval namespace != '')" name="local_costmap/obstacle_layer/laser/topic" value="/$(arg namespace)/scan" />
    <param if="$(eval namespace != '')" name="local_costmap/obstacle_layer/scan_filtered/topic" value="/$(arg namespace)/scan_filtered" />
    <param if="$(eval namespace != '')" name="local_costmap/sensor/laser/topic" value="/$(arg namespace)/scan" />
    <!-- Frame prefixing -->
    <param if="$(eval namespace != '')" name="global_costmap/global_frame" value="$(arg namespace)/map" />
    <param if="$(eval namespace != '')" name="global_costmap/robot_base_frame" value="$(arg namespace)/base_footprint" />
    <param if="$(eval namespace != '')" name="DWAPlannerROS/global_frame_id" value="$(arg namespace)/odom" />
    <param if="$(eval namespace != '')" name="global_costmap/obstacle_layer/laser/sensor_frame" value="$(arg namespace)/laser_frame" />
    <param if="$(eval namespace != '')" name="global_costmap/sensor/laser/sensor_frame" value="$(arg namespace)/laser_frame" />
    <param if="$(eval namespace != '')" name="local_costmap/global_frame" value="$(arg namespace)/odom" />
    <param if="$(eval namespace != '')" name="local_costmap/robot_base_frame" value="$(arg namespace)/base_footprint" />
    <param if="$(eval namespace != '')" name="local_costmap/obstacle_layer/laser/sensor_frame" value="$(arg namespace)/laser_frame" />
    <param if="$(eval namespace != '')" name="local_costmap/sensor/laser/sensor_frame" value="$(arg namespace)/laser_frame" />
  </node>
</launch>
