<launch>
    <arg name="demo" default="1"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find neuronbot2_gazebo)/models"/>
    <include file="$(find neuronbot2_gazebo)/launch/shared_position_demo_world.launch">
        <arg name="demo" value="$(arg demo)"/>
    </include>
    <include file="$(find neuronbot2_nav)/launch/demo_nav.launch">
        <arg name="demo" value="$(arg demo)"/>
    </include>
    <!-- <include file="$(find neuronbot2_nav)/launch/bt_scheduler.launch">
        <param name="demo" value="$(arg demo)"/>
    </include> -->
</launch>