<launch>
	<node name="led_serial_node" pkg="rosserial_python" type="serial_node.py">
		<param name="port" type="string" value="/dev/neuronbotLED"/>
		<param name="baud" type="int"    value="57600"/>
	</node>

	<arg name="led_color" default="7"/>
	<node name="led_control_node" pkg="neuronbot2_led" type="led_node.py">		
		<param name="led_color" type="string" value="$(arg led_color)"/>
	</node>
</launch>








