<launch>
  <arg name="lidar" default="rplidar" doc="lidar type [rplidar, ydlidar, eai-g4]"/>
  
  <include file="$(find neuronbot2_bringup)/launch/bringup.launch"/>
  <include file="$(find neuronbot2_bringup)/launch/model.launch"/>

  <include file="$(find neuronbot2_bringup)/launch/$(arg lidar).launch"/>
  <node name="ekf" pkg="robot_localization" type="ekf_localization_node" output="screen">
    <rosparam command="load" file="$(find neuronbot2_bringup)/params/ekf_params.yaml"/>
    <param name="odom0" value="raw_odom"/>
    <param name="imu0" value="imu/data"/>
    <remap from="odometry/filtered" to="odom"/>
  </node>
</launch>
